body {
	font-family: "Open Sans", sans-serif;
	font-size: 12.5pt;
    font-weight: 300;
    letter-spacing: 0.25pt;
	color: #3b3a36; 
}

a{
    color: #7f9399;
}

a:hover {
    color: #74b5b0;
    text-decoration: none;
}

#home {
	padding-bottom: 0;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}

#home .row {
	margin-left: 0;
	margin-right: 0;
}

#home .row:nth-of-type(2) {
    margin-bottom: 14px;
}

#home p {
	text-transform: none;
}

nav {
    padding-top: 4px;
    padding-bottom: 4px;
}

nav, nav a {
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

nav ul li{
    display: inline-block;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.links a {
    color: #3b3a36;
	font-family: "Raleway", sans-serif;
    font-weight: 100;
    text-decoration: none;
    display: inline-block;
}

.links a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2.5px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.links li:first-of-type a:after {
    width: 100%;
    background: #74b5b0;
}

.links a:hover:after {
    width: 100%;
    background: #74b5b0;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	text-align: center;
	background-color: #fff;
}

.fixed a{
	font-family: "Raleway", sans-serif;
	font-size: 11.5pt;
	font-weight: 300;	
	text-transform: uppercase;
	text-decoration: none;
}

.fixed a:hover {
	color: #74b5b0;
}

.fixed .active {
	color: #74b5b0;
}

figure {
	position: relative;
}

.work_thumbnail:hover figcaption {
    height: 12%;
    background-color: rgba(59,58,54,1);
}

.work_thumbnail:hover .caption {
    opacity: 1;
}

figcaption .caption {
	padding-bottom: 12px;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
  	-moz-transition:    all 0.3s ease;
  	-o-transition:      all 0.3s ease;
}

.caption h4 {
    color: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
}

h4, .links a {
    font-size: 14pt;
}

h2, h3, h4{
	font-family: 'Raleway', serif;
	letter-spacing: 0.5pt;
	text-transform: none;
	font-weight: 200;
}

.caption bt {
    font-size: 10.5pt;
}

figcaption {
	text-transform: capitalize;
	background-color: rgba(59,58,54,0.75);
	text-align: center;
	color: #74b5b0;
	top: auto;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 12%;
	position: absolute;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
  	-moz-transition:    all 0.3s ease;
  	-o-transition:      all 0.3s ease;
}

.vpadding {
	padding-left: 48px;
	padding-right: 48px;
}

.hpadding-lg {
	padding-top: 48px;
	padding-bottom: 48px;
}

.hpadding-sm {
	padding-top: 18px;
	padding-bottom: 18px;
}

.vpadding-sm {
    padding-left: 18px;
    padding-right: 18px;
}

.nopadding {
    padding: 0;
}

section {
	padding-top: 56px;
	padding-bottom: 56px;
}

.about-sub ul {
    list-style-type: square;
    padding-left: 0px;
    list-style-position: inside;
    color: #74b5b0;
}

.about-sub ul h4 {
    color: #3b3a36;
}

.about-sub {
    font-size: 11.5pt; 
    position: relative;
}

.about-sub div:first-child {
    margin-bottom: -4px;
}

.about-sub .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
}

.about-sub p {
    margin-bottom: 4px;
}

@media (min-width: 992px) {
    .about-portrait {
        position: absolute;
        right: 18px;
        bottom: 18px;
    }
}

.about-pics {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.highlighted {
    font-weight: 400;
}

#footer {
    text-align: center;
    font-size: 8.5pt;
}

.extra {
    text-align: center;
}

.extra svg:hover path, .extra svg:hover rect, .extra svg:hover .cls-3 {
    fill: #74b5b0;
}

.extra path, .extra rect, .extra .cls-3 {
    transition: fill .3s ease;
	-webkit-transition: fill 0.3s ease;
  	-moz-transition:    fill 0.3s ease;
  	-o-transition:      fill 0.3s ease;
}

